#impersonating {
  text-align: center;
  line-height: 20px;
  font-size: 100%;
  color: #fff;
  border-bottom: 1px solid #571b50;

  a {
    background: #74336c;
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
    padding: 5px;

    &:hover {
      text-decoration: line-through;
      background: #74336c;
    }
  }
}
