<!DOCTYPE html>
<html>
<head>
  <title>Banned</title>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>
  <div class="dialog">
    <h1>You have been banned</h1>
    <p>Your access is forbidden due to the violation of the Terms of Use and/or too many failed login attempts.</p> 
    
    <p>If you think this is an error or you need to resolve this situation, please contact <%= defined?(Settings) && Settings.contact_email ? mail_to(Settings.contact_email) : 'the administrators' %> and describe your actions prior to arriving on this page.</p>
  </div>
</body>
</html>



