<!DOCTYPE html>
<html>
<head>
  <title>Authorizable</title>
  <%= stylesheet_link_tag    "authorizable/application", :media => "all" %>
  <%= javascript_include_tag "authorizable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
